@media (max-width: 52.5rem) {
  .cards__section {
    padding: 2rem 0;
  }
  .cards__container {
    flex-direction: column;
    align-items: stretch;
  }

  .cards__header {
    margin-bottom: 3rem;
  }
}

@media (max-width: 31.25rem) {
  .cards__title {
    font-size: 1.6rem;
  }

  .cards__description {
    font-size: 0.95rem;
  }

  .container {
    min-width: 23.5rem;
  }
}
