* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 62.5rem;
  padding: 0 2rem;
  margin: 0 auto;
}

/* 
flex-grow: 0;
flex-shrink: 1;
flex-basis: auto
*/

.cards__container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cards__card-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.cards__card {
  /* background-color: orangered; */
  /* flex: 1; */
  width: 222px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.cards__card:nth-child(1) {
  border-top: 3px solid green;
}
.cards__card:nth-child(2) {
  border-top: 3px solid red;
}
.cards__card:nth-child(3) {
  border-top: 3px solid yellow;
}
.cards__card:nth-child(4) {
  border-top: 3px solid blue;
}
